<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/png" href="https://i.postimg.cc/qvqNKXrr/1.png"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
        <title>CHATTER</title>
        <style>
            body{
                background-color: #121212;
            }
           
        </style>






    </head>
    <body>
        <a href="/twitch/tachka" style="display: flex;text-decoration: none;margin-top: 10px;margin-left: 10px;font: 1.5rem 'Rubik Doodle Shadow';"><img src="https://i.postimg.cc/qvqNKXrr/1.png"><label style="color:#fff;margin-top: 10px;text-decoration: none;margin-left: 5px;" >
            CHATTER
        </label></a>




<br>
<br>


<form method="get" >
    <label style="color:#fff">Введите токен</label>    
<input type="text" class="form-control" style="background-color: #1e1e1e;color:#fff;;border-color:#303030;width: 50%;" id="token" name="token" required>
<input type="text" style="display: none;" id="auth" name="auth" value="1">
<button class="btn btn-dark" type="submit" class="btn btn-dark" style="background-color: #1e1e1e;color:#fff;;border-color:#303030;">Сесть за руль</button>

</form>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>   

</body>

</html>
